/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-chef-kiss-vote-button {
	button {
		transition: all .2s ease;
		color: var(--wp--preset--color--text);
		background-color: var(--wp--preset--color--highlight);
		border: 3px solid var(--wp--preset--color--card);
		text-transform: uppercase;
		text-align: center;
		font-size: var(--wp--preset--font-size--base);
		padding: 0.5rem;
		outline: none;
		border-top-left-radius: 0.4rem;
	}

	button:hover {
		color: var(--wp--preset--color--background);
	}

	button:disabled {
		transition: none;
		opacity: 0.5;
	}

	button:disabled:hover {
		color: var(--wp--preset--color--text);
	}
}