/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-chef-kiss-add-user-recipe {
	button {
		background-color: var(--wp--preset--color--background);
		padding: 0.5rem;

	}

	button svg {
		transition: all .2s ease;
		fill: var(--wp--preset--color--highlight);
	}

	button:hover svg {
		scale: 1.1;
	}
}