.wp-block-group,
.wp-block-columns {

	&.recipe-container {
		background-color: var(--wp--preset--color--card);
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
		position: relative;
		border: 1px solid var(--wp--preset--color--highlight);
	}

	&.recipe-container .number-value {
		color: var(--wp--preset--color--highlight);
	}

	&.conference-header {
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
		padding: 2rem;
		border: 1px solid var(--wp--preset--color--highlight);
		background-color: var(--wp--preset--color--background);
		color: var(--wp--preset--color--text)
	}
}