<!-- wp:template-part {"slug":"header","theme":"chef-kiss","tagName":"header"} /-->

<!-- wp:group {"style":{"border":{"radius":{"topLeft":"1rem"}},"spacing":{"padding":{"top":"0","bottom":"0","left":"var:preset|spacing|40","right":"var:preset|spacing|40"},"margin":{"bottom":"0rem"},"blockGap":"var:preset|spacing|40"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="border-top-left-radius:1rem;margin-bottom:0rem;padding-top:0;padding-right:var(--wp--preset--spacing--40);padding-bottom:0;padding-left:var(--wp--preset--spacing--40)"><!-- wp:group {"metadata":{"patternName":"chef-kiss/recipe-step","name":"Recipe Step"},"className":"recipe-container","style":{"border":{"radius":{"topLeft":"1rem"}},"spacing":{"padding":{"top":"2rem","bottom":"2rem","left":"2rem","right":"2rem"},"margin":{"bottom":"3rem"}}},"backgroundColor":"background","layout":{"type":"constrained"}} -->
	<div class="wp-block-group recipe-container has-background-background-color has-background" style="border-top-left-radius:1rem;margin-bottom:3rem;padding-top:2rem;padding-right:2rem;padding-bottom:2rem;padding-left:2rem"><!-- wp:post-title /-->

	<!-- wp:post-content {"metadata":{"ignoredHookedBlocks":["jetpack/subscriptions"]},"layout":{"type":"default"}} /--></div>
	<!-- /wp:group --></div>
	<!-- /wp:group -->

	<!-- wp:template-part {"slug":"footer","theme":"chef-kiss","tagName":"footer"} /-->
