<!-- wp:template-part {"slug":"header","theme":"chef-kiss","tagName":"header"} /-->

<!-- wp:query {"queryId":11,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true}} -->
<div class="wp-block-query"><!-- wp:post-template -->
	<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|30","padding":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30","top":"var:preset|spacing|30","bottom":"var:preset|spacing|30"}}},"layout":{"type":"constrained"}} -->
	<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--30);padding-right:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)"><!-- wp:group {"style":{"border":{"radius":{"topLeft":"1rem","topRight":"0rem","bottomLeft":"0rem","bottomRight":"0rem"}},"spacing":{"padding":{"left":"2rem","right":"2rem","top":"0.5rem","bottom":"0.5rem"},"margin":{"bottom":"2rem"}},"elements":{"link":{"color":{"text":"var:preset|color|background"}}}},"borderColor":"background","backgroundColor":"highlight","textColor":"background","className":"recipe-container","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"left"}} -->
	<div class="wp-block-group recipe-container has-border-color has-background-border-color has-background-color has-highlight-background-color has-text-color has-background has-link-color" style="border-top-left-radius:1rem;border-top-right-radius:0rem;border-bottom-left-radius:0rem;border-bottom-right-radius:0rem;margin-bottom:2rem;padding-top:0.5rem;padding-right:2rem;padding-bottom:0.5rem;padding-left:2rem"><!-- wp:post-title {"style":{"elements":{"link":{"color":{"text":"var:preset|color|background"}}},"layout":{"selfStretch":"fill","flexSize":null}},"textColor":"background","fontSize":"x-large"} /-->

	<!-- wp:chef-kiss/level /-->

	<!-- wp:chef-kiss/cooking-time {"style":{"elements":{"link":{"color":{"text":"var:preset|color|text"}}}},"textColor":"text"} /--></div>
	<!-- /wp:group -->

	<!-- wp:post-content /--></div>
	<!-- /wp:group -->
	<!-- /wp:post-template -->

	<!-- wp:query-no-results -->
	<!-- wp:paragraph {"placeholder":"Add text or blocks that will display when a query returns no results."} -->
	<p></p>
	<!-- /wp:paragraph -->
	<!-- /wp:query-no-results --></div>
	<!-- /wp:query -->

	<!-- wp:template-part {"slug":"footer","theme":"chef-kiss","tagName":"footer"} /-->
